*{
	margin: 0;
	padding: 0;
}
header{
	white: 100%;
	height: 60px;
	background: darkred;
}

body{
	background: black;
}

.menu{
	position: relative;
	height: 100px;
	margin: auto;
}

.logo{
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	padding-top: 9.45px;
	left: 64.6825px;
}

.nav1{
	position: relative;
	left: 240px;
	top: -100px;
}

nav{
	position: relative;
	width: 70%;
	height: 60px;
	background: black;
	text-align: center;
	
}

nav ul li {
	display: inline-block;
	padding-top: 20px;
}

nav ul li a{
	font-size: 25px;
	padding-left: 15px;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-family: marvel;
}

@font-face{
	font-family: marvel;
	src: url(fuente/Marvel-Regular.ttf);
}

section{
	display: flex;
	width: 1535px;
	height: 500px;
}

section img{
	width: 0;
	flex-grow: 1;
	object-fit: cover;
	opacity: .8;
	transition: .5s ease;
}

section img:hover{
	cursor: crosshair;
	width: 300px;
	opacity: 1;
	filter: contrast(120%);
}

.titulo{
	font-size: 25px;
	padding-left: 15px;
	letter-spacing: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-family: marvel;
}

.fases img{
	width: 170px;
	height: 250px;
	margin: 9px;
}

.titulo2{
	font-size: 40px;
	padding-left: 700px;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.titulo3{
	font-size: 40px;
	padding-left: 640px;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkgreen;
	font-family: marvel;
}

.titulo4{
	font-size: 40px;
	padding-left: 690px;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.video{
	width: 600px;
	height: 600px;
	position: relative;
	left: 490px;
	border: 2px solid darkgrey;
	margin-top: 10px;
}

.tamres{
	width: 600px;
	position: relative;
	left: 490px;
}

.resumen{
	color: white;
	font-size: 20px;
	font-family: arial;
	letter-spacing: 1px;
}