*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 60px;
	background: darkred;
	position: fixed;
}

body{
	background: black;
}

.menu{
	position: relative;
	height: 100px;
	margin: auto;
}

.logo{
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	padding-top: 9.45px;
	left: 64.6825px;
}

.buscador{
	position: absolute;
	display: block;
	left: 1340px;
	bottom: 60px;
	right: 20px;
	padding: 1px;
}

.nav1{
	position: relative;
	left: 240px;
	top: -100px;
}

nav{
	position: relative;
	width: 70%;
	height: 60px;
	background: black;
	text-align: center;
	
}

nav ul li {
	display: inline-block;
	padding-top: 20px;
}

nav ul li a{
	font-size: 25px;
	padding-left: 15px;
	letter-spacing: 3px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-family: marvel;
}

@font-face{
	font-family: marvel;
	src: url(fuente/Marvel-Regular.ttf);
}

section{
	display: flex;
	width: 100%;
	height: 600px;
	padding-top: 60px;
}

section img{
	width: 0;
	flex-grow: 1;
	object-fit: cover;
	opacity: .8;
	transition: .5s ease;
}

section img:hover{
	cursor: crosshair;
	width: 300px;
	opacity: 1;
	filter: contrast(120%);
}

.div1{
	padding-top: 100px;
}

.titulo{
	font-size: 25px;
	padding-left: 15px;
	letter-spacing: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-family: marvel;
}

.fases img{
	width: 170px;
	height: 250px;
	margin: 9px;
}

.titulo2{
	font-size: 40px;
	text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: gold;
	font-family: marvel;
}

.titulo3{
	font-size: 40px;
	text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkgreen;
	text-shadow: 1px 0 0 darkviolet,-1px 0 0 darkviolet,0 1px 0 darkviolet,0 -1px 0 darkviolet;
	font-family: marvel;
}

.titulo4{
	font-size: 40px;
	text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: gold;
	font-family: marvel;
}

.titulo5{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.titulo6{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkblue;
	font-family: marvel;
}

.titulo7{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: white;
	font-family: marvel;
}

.titulo8{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: gold;
	font-family: marvel;
}

.titulo9{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.titulo10{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkblue;
	font-family: marvel;
}

.titulo11{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #FF9E00;
	font-family: marvel;
}

.titulo12{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.titulo13{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.titulo14{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkblue;
	font-family: marvel;
}

.titulo15{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.titulo16{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkblue;
	text-shadow: 1px 0 0 red,-1px 0 0 red,0 1px 0 red,0 -1px 0 red;
	font-family: marvel;
}

.titulo17{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkred;
	font-family: marvel;
}

.titulo18{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: black;
	text-shadow: 1px 0 0 white,-1px 0 0 white,0 1px 0 white,0 -1px 0 white;
	font-family: marvel;
}

.titulo19{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #DCD900;
	font-family: marvel;
}

.titulo20{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: red;
	font-family: marvel;
}

.titulo21{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: darkblue;
	font-family: marvel;
}

.titulo23{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: blue;
	text-shadow: 1px 0 0 white,-1px 0 0 white,0 1px 0 white,0 -1px 0 white;
	font-family: marvel;
}

.titulo24{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: blue;
	text-shadow: 1px 0 0 white,-1px 0 0 white,0 1px 0 white,0 -1px 0 white;
	font-family: marvel;
}

.titulo25{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline red;
	text-transform: uppercase;
	color: silver;
	text-shadow: 1px 0 0 red,-1px 0 0 red,0 1px 0 red,0 -1px 0 red;
	font-family: marvel;
}

.titulo26{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: silver;
	font-family: marvel;
}

.titulo27{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: gold;
	font-family: marvel;
}

.titulo28{
	font-size: 40px;
    text-align: center;
	letter-spacing: 4px;
	text-decoration: underline;
	text-transform: uppercase;
	color: yellow;
	text-shadow: 2px 0 0 red,-2px 0 0 red,0 2px 0 red,0 -2px 0 red;
	font-family: marvel;
}

.video{
	width: 600px;
	height: 600px;
	position: relative;
	left: 490px;
	border: 2px solid darkgrey;
	margin-top: 10px;
}

.tamres{
	width: 600px;
	position: relative;
	left: 490px;
}

.resumen{
	color: white;
	font-size: 20px;
	font-family: arial;
	letter-spacing: 1px;
}